* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #fff;
    --main-color: #00abf0;

}

html {

    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.header .sticky {
    border-bottom: .1rem solid rgva(0, 0, 0, .2);
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 600;
    cursor: default;
}

.navbar a {
    display: inline-block;
    font-size: 20px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    margin-right: 15px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #0ef;
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.home {

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;

}

.home-content {
    max-width: 2000px;
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700px;
    color: aliceblue;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
    animation: slideBottom 1s ease forwards;
    -webkit-animation: slideTop 1s ease forwards;
    animation-delay: .7s;


}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 70px;
    font-weight: 700px;
    margin: -3px 7rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    color: rgb(255, 255, 255);
}

.home-content p {
    font-size: 20px;
    color: aliceblue;
    margin-top: 5rem;
}

.home-img img {
    width: 35vw;
    max-width: 1000px;
    margin-right: -20px;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 50px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 0px;
    font-weight: 600;
}

.btn:hover {
    box-shadow: 0 0 20px #0ef;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        -webkit-transform: translateX(-100px);
        -moz-transform: translateX(-100px);
        -ms-transform: translateX(-100px);
        -o-transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        -webkit-transform: translateX(100px);
        -moz-transform: translateX(100px);
        -ms-transform: translateX(100px);
        -o-transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        opacity: 1;
    }
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
    padding: 70px;
}

.about-img {
    position: relative;
    width: 30rem;
    height: 30rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about-img img {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);

}

.about-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-right: .2rem solid var(--main-color);
    border-left: .2rem solid var(--main-color);
    -webkit-transform: translate(-50%, -50%) rotate(0);
    -moz-transform: translate(-50%, -50%) rotate(0);
    -ms-transform: translate(-50%, -50%) rotate(0);
    -o-transform: translate(-50%, -50%) rotate(0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.heading {

    text-align: center;
    font-size: 4.5rem
}

.about-content h2 {
    text-align: center;
    margin: -3px 0;
    line-height: 1.2;
}

.about-content h3 {

    font-size: 2.6rem;
}

.about-content p {
    text-align: center;
    font-size: 1.7rem;
    margin: 2rem 0 3rem;
}









.education {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding-bottom: 5rem;
}

.education .heading {
    margin-bottom: 4rem;
}



.education .education-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.education-row .education-column {
    flex: 1 1 40rem;

}

.education-column .title {
    font-size: 2rem;
    margin: 10 0 1.2rem 2rem;

}

.education-column .education-box {
    width: auto;
    border-left: .2rem solid var(--main-color);
}

.education-box .education-content {
    position: relative;
    padding: 2rem;
}



.education-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
    -webkit-border-radius: .6rem;
    -moz-border-radius: .6rem;
    -ms-border-radius: .6rem;
    -o-border-radius: .6rem;
}

.education-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.education-content .content:hover::before {
    width: 100%;
}

.education-content .content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}


.education-content .content .year i {
    padding-right: .5rem;

}

.education-content .content h3 {
    font-size: 2rem;
}

.education-content .content p {
    font-size: 1.5rem;
    padding-top: .5rem;
}




.skills {
    min-height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 7rem;
    padding: 70px;
}


.heading1 {
    font-size: 4.5rem;
    font-weight: bold;
    text-align: center;

}



.skills h2 {

    margin-bottom: 3rem;

}

.skills-container {
    max-width: 2000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    align-items: stretch;
    gap: 2rem;
}

.skills-container .skills-box {
    background: var(--bg-color);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    border: .2rem solid var(--main-color);
    transition: .5s ease;
    display: flex;
    flex-direction: column;
}

.skills-container .skills-box:hover {
    border-color: var(--main-color);
    transform: scale(1.02);
}

.skills-box i {
    font-size: 7rem;
    color: var(--main-color);
}

.skills-box h4 {
    font-size: 2.6rem;
}

.skills-box p {
    font-size: 1.6rem;
    margin: 1rem 0 3rem;
    flex-grow: 1;
    /* Pushes the skills list to the bottom for alignment */
}

.skills-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.skill-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem 1rem;
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    font-size: 1.6rem;
}

.skill-item span {
    font-weight: 500;
}

.btn2 {
    display: inline-block;
    padding: 0.4rem 1rem;
    background: var(--main-color);
    border-radius: 2rem;
    font-size: 1.1rem;
    color: var(--bg-color);
    font-weight: 600;
    transition: 0.3s;
}

.btn2:hover {
    background: white;
    box-shadow: 0 0 1rem white;
}


.project {
    background: var(--bg-color);
}


.project h2 {

    text-align: center;
    margin-bottom: 3rem;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;

}

.project-container .project-box {
    position: relative;
    align-items: stretch;
    border-radius: 2rem;
    border: .2rem solid var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);
    overflow: hidden;
    display: flex;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.project-box img {
    position: relative;
    width: 100%;
    height: 23rem;

}



.project-box .project-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba (0, 0, 0, .1), #0ef);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
}

.project-layer h4 {
    font-size: 3rem;
}

.project-layer p {
    margin: .3rem 0 1rem;
    font-size: 1.6rem;

}

.link-container {
    display: flex;
    justify-content: space-between;

}

.link-container a {
    margin-right: 10px;
}

.link-container i {
    font-size: 3rem;
}

.project-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    color: #0ef;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50px;

    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.project-layer a:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    color: #0ef;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

.info-btn:hover {
    background: #0ef;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

/* Modal Styles */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(5px);
}

.modal-content {
    background: var(--second-bg-color);
    width: 90%;
    max-width: 600px;
    border-radius: 2rem;
    border: 2px solid var(--main-color);
    position: relative;
    overflow: hidden;
    animation: zoomIn 0.3s ease;
}

.modal-img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-bottom: 2px solid var(--main-color);
}

.modal-body {
    padding: 3rem;
    text-align: left;
}

.modal-body h3 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
    color: var(--main-color);
}

.modal-desc {
    font-size: 1.6rem;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.modal-tech {
    margin-bottom: 2rem;
}

.modal-tech strong {
    font-size: 1.8rem;
    display: block;
    margin-bottom: 1rem;
}

.tech-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.tech-tag {
    background: var(--bg-color);
    color: var(--main-color);
    padding: 0.5rem 1.2rem;
    border-radius: 2rem;
    border: 1px solid var(--main-color);
    font-size: 1.3rem;
    font-weight: 500;
}

.close-modal {
    position: absolute;
    top: 1.5rem;
    right: 2rem;
    font-size: 4rem;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}

.close-modal:hover {
    color: var(--main-color);
}

.modal-links {
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
}

.modal-links .btn {
    display: flex;
    padding: 1.2rem 2rem;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}


.contact {
    background: var(--second-bg-color);
}

.contact h2 {
    margin-bottom: 3rem;
}

.contact form {
    max-width: 100rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;

}

.no-arrows::-webkit-inner-spin-button,
.no-arrows::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;

}

.contact form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: white;
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contact form .input-box input {
    width: 49%;
}

.contact form textarea {
    resize: none;
}

.contact form .btn {
    margin-top: 2rem;
    cursor: pointer;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--bg-color);

}

.footer-text p {
    font-size: 1.6rem;
}

.footer-icontop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    background: #0ef;
    border-radius: .8rem;
    -webkit-border-radius: .8rem;
    -moz-border-radius: .8rem;
    -ms-border-radius: .8rem;
    -o-border-radius: .8rem;
}

.footer-icontop a i {
    font-size: 2.4rem;
}

.about-content-v2 {
    max-width: 80rem;
    margin: 0 auto;
    text-align: center;
}

.about-text h3 {
    font-size: 3.2rem;
    margin-bottom: 2rem;
}

.about-text p {
    font-size: 1.8rem;
    line-height: 1.6;
    margin-bottom: 2.5rem;
}

.about-skills-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 4rem;
}

.about-skill-item {
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 1.5rem;
    border: .2rem solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: .3s;
}

.about-skill-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 1.5rem var(--main-color);
}

.about-skill-item i {
    font-size: 3rem;
    color: var(--main-color);
}

.about-skill-item span {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
}

@media (max-width: 520px) {
    .about-skills-grid {
        grid-template-columns: 1fr;
    }
}




@media (max-width:1200px) {
    html {
        font-size: 2rem 3%;
    }
}


@media (max-width:1200px) {
    .header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;

    }

    .footer {
        padding: 2rem 3%;
    }


}

@media (max-width: 768px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem solid rgba(0, 0, 0, .2);
        display: none;
    }

    .navbar .active {
        display: block;
    }


    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }
}